---
interface Props {
  platform: string;
  username: string;
  PreIcon?: any;
  classColor?: string;
}
const { platform, username, PreIcon, classColor } = Astro.props;
---

<a class="drop-shadow" href={`https://www.${platform}.com/${username}`}>
  <div class="inline-flex gap-3 items-center justify-center">
    {PreIcon && <PreIcon className={classColor} />}<span>{platform}</span>
  </div>
</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(88, 84, 84);
    background-color: #e2e0e0bd;
    text-decoration: none;
    border-radius: 1rem;
    border-style: solid;
    border-width: 3px;
  }

  /* svg {
    @apply fill-green-500;
  } */
</style>
